# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-Learn
1. Tensorflow
1. Keras
1. Pandas
1. Matplotlib

|Data Science Tools|
| ------ |
|Jupyter Notebook|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

- \+ symbol adds
- \- symbol subtracts
- \* symbol multiplies
- / symbol devides

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
minutes = 200;
hour = 60;

# This will convert 200 minutes to hours by diving by 60
hours = minutes / hour

print(round(hours, 2), 'hours')

3.33 hours

**Objectives:**
- Popular languages used by data scientists
- Which tools to use
- Control versions for better project management
- Which libraries we can use for ML/DL

## Author: 
Arian Kalantari